.search-container {
  width: 40%;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: flex;
  /* Centraliza a barra se o container pai permitir */
  margin: 0 auto 20px auto; 
}

.search-container input[type="text"] {
  padding: 16px 12px;
  flex-grow: 1;
  background-color: transparent;
  border: none;
}
.search-container input[type="text"]:focus {
    outline: none;
}

.search-container button {
  width: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container button:hover {
    background-color: #e2e2e2;
}